body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.main-section-container {
  background-image:url('./assets/images/bigbackground.svg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.left-content {
  text-align: center;
}
.email-submit-container {

  padding: 20px;
  margin: 20px;
  display: flex;
  gap: 16px; /* 间隔大小，根据需要调整 */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* 如果空间不够，让元素换行 */
}

.email-submit-container > * {
  flex: 1; /* 让子元素平均分配可用空间 */
}

.right-content {
  background-size: 70% 70%;
  width: 90%;
  height: 70vh;
  background-image: url('./assets/images/dialoguebubbles.jpg');
}
.app {
  text-align: center;
}

.header {
  background-color: #282c34;
  color: white;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.small-logo{
  display: flex;
  align-items: center;
}
.logo-container{
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.logo-img {
  width: 120px;
 
  margin-right: 8px;
}

.auth-buttons button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #61dafb;
  color: white;
  border: none;
  cursor: pointer;
}

.main {
  display: flex;
  height: calc(100vh - 60px); /* Adjust for header height */
}

.left-section {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-input {
  margin-bottom: 20px;
}

.email-input input {
  padding: 8px;
  margin-right: 8px;
}

.email-input button {
  padding: 8px;
  background-color: #61dafb;
  color: white;
  border: none;
  cursor: pointer;
}

.right-section {
  flex: 1;
  background-image: url('path/to/your/background-image.jpg');
  background-size: cover;
}

.background-image {
  width: 100%;
  height: 100%;
  background-image: url('path/to/your/small-background-image.jpg');
  background-size: cover;
}
